<div class="scroll-hint">Scroll down!</div>

<div class="container"></div>

<div class="top-bar">
  <div class="top-bar-mid">
    <div class="title-text">ANGULAR</div>
    <div class="arrow-2"></div>
    <div class="arrow"></div>
  </div>
</div>

<div class="top-bar-small">
  <div class="top-bar-mid-small">
    <div class="blah" style="display: none;">
      <div class="title-text">Responsive Blog</div>
      <div class="arrow-2"></div>
      <div class="arrow"></div>
    </div>
  </div>
</div>

<div class="content">
  <div class="article">
    <p>Blah blah blah... some lorem ipsum stuff goes here :) Oh and it's responsive too.</p>
    <div class="big-quote">
      "Look how pretty"
      <span class="big-quote-quoter">- Me</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam ornare enim, eu eleifend enim ornare a. Morbi suscipit hendrerit mi et faucibus. Maecenas ac vehicula orci. Ut ac felis consequat, viverra nisi at, aliquet ante. Duis faucibus fringilla accumsan. Aenean commodo convallis enim ut laoreet. Aenean vulputate, ante dictum eleifend elementum, dui est euismod velit, lacinia rhoncus dolor erat a nibh. Duis eget consequat eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras blandit dapibus mauris, eu laoreet mi eleifend vel. Sed lacinia augue ut eros tempor vehicula. Aliquam erat volutpat. Aliquam tristique erat ut orci mattis tempus. Phasellus bibendum tristique nunc, in semper eros luctus nec. Proin interdum mauris a odio suscipit venenatis. Curabitur elementum tortor eget sodales bibendum.
    </p>
    <div class="big-quote">
      "Pellentesque iaculis volutpat magna, porttitor molestie augue hendrerit eu. Phasellus tortor quam, eleifend quis nulla vitae, laoreet dictum arcu. Praesent scelerisque quis leo ut aliquam."
      <span class="big-quote-quoter">- That Guy</span>
    </div>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris aliquam ornare enim, eu eleifend enim ornare a. Morbi suscipit hendrerit mi et faucibus. Maecenas ac vehicula orci. Ut ac felis consequat, viverra nisi at, aliquet ante. Duis faucibus fringilla accumsan. Aenean commodo convallis enim ut laoreet. Aenean vulputate, ante dictum eleifend elementum, dui est euismod velit, lacinia rhoncus dolor erat a nibh. Duis eget consequat eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Cras blandit dapibus mauris, eu laoreet mi eleifend vel. Sed lacinia augue ut eros tempor vehicula. Aliquam erat volutpat. Aliquam tristique erat ut orci mattis tempus. Phasellus bibendum tristique nunc, in semper eros luctus nec. Proin interdum mauris a odio suscipit venenatis. Curabitur elementum tortor eget sodales bibendum.
    </p>
    <div class="big-quote">
      "I'll ipsum your dolor."
      <span class="big-quote-quoter">- Respected Critic</span>
    </div>
    <p>
      If you enjoy the template, feel free to use it as much as you like.
    </p>
  </div>
</div>

