<div class="container"></div>

<div class="top-bar">
  <div class="top-bar-mid">
    <div class="title-text">BIENVENIDO A NUESTRA WEB</div>
    <div class="arrow-2"></div>
    <div class="arrow"></div>
  </div>
</div>

<div class="content">
  <div class="article">
    <h1>Víctor Sánchez Grande</h1>
    <h2>Desarrollador Web Angular Framework</h2>
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
      <img
        src="assets/images/victorsg.PNG"
        alt="victorsgDev_portfolio" style="width: 70%; margin: 2% 0 6% 0; border-radius: 5%">
    </div>

  </div>

  <hr>

  <div class="article">
    <h1>Javier Sánchez Carrizo</h1>
    <h2>Desarrollador Web Vue Framework</h2>
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
      <img
        src="assets/images/javiers.PNG"
        alt="javiers_portfolio" style="width: 70%; margin: 2% 0 6% 0; border-radius: 5%">
    </div>

  </div>

  <hr>

  <div class="article">
    <h1>Mario Valverde Malaguilla</h1>
    <h2>Desarrollador Web React Framework</h2>
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
      <img
        src="assets/images/mariov.PNG"
        alt="victorsgDev_portfolio" style="width: 70%; margin: 2% 0 6% 0; border-radius: 5%">
    </div>

  </div>
</div>
