<div class="container"></div>

<div class="top-bar">
  <div class="top-bar-mid">
    <div class="title-text">REACT</div>
    <div class="arrow-2"></div>
    <div class="arrow"></div>
  </div>
</div>


<div class="content">
  <div class="article">
    <h1>React Framework - Mario Valverde</h1>
    <div class="big-quote">
      Historia
    </div>
    <p>
      React es una librería de JavaScript para construir interfaces de usuario que fue creada por Facebook en 2011. La historia de React comenzó cuando Facebook estaba tratando de mejorar su rendimiento en la red social y descubrió que la actualización de la interfaz de usuario de forma eficiente era un gran desafío. En ese momento, el modelo de programación de interfaz de usuario predominante era el Modelo Vista Controlador (MVC), que tenía algunos problemas de rendimiento.
    </p>

    <p>
      Para abordar estos desafíos, un equipo de Facebook liderado por Jordan Walke comenzó a trabajar en una nueva solución para la interfaz de usuario que se basaría en un enfoque diferente al MVC. La idea era crear una librería que permitiera construir interfaces de usuario declarativas y eficientes que se pudieran actualizar automáticamente en tiempo real sin tener que realizar actualizaciones de página completas.

    </p>
    <p>
      El equipo de Facebook trabajó en secreto en la librería durante varios años y en 2013 la lanzaron como una herramienta de código abierto. Desde entonces, React ha evolucionado rápidamente y se ha convertido en una de las librerías de interfaz de usuario más populares del mundo.
    </p>

    <p>
      React se ha ganado una gran popularidad en el mundo de la programación debido a su enfoque declarativo, que permite a los desarrolladores crear interfaces de usuario altamente reutilizables y fácilmente escalables. React también tiene una gran comunidad de desarrolladores que contribuyen constantemente con nuevas herramientas y características para mejorar la funcionalidad y el rendimiento de la librería.
    </p>

    <p>
      En resumen, React nació de la necesidad de mejorar el rendimiento de la interfaz de usuario de Facebook y desde entonces se ha convertido en una herramienta invaluable para los desarrolladores de todo el mundo que buscan crear interfaces de usuario declarativas y altamente reutilizables.
    </p>
    <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
      <img
        src="assets/images/react.jpg"
        alt="vue" style="width: 70%; margin: 2% 0 2% 0; border-radius: 5%">
    </div>
    <div class="big-quote">
      Caracteristicas
    </div>
    <ul>
      <li><b>JSX</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;JSX es una extensión de sintaxis que te permite escribir HTML dentro de tu código JavaScript.
        Esto hace que el &nbsp;&nbsp;&nbsp;&nbsp;código sea más fácil de leer y de entender, y también te permite mezclar la lógica de la interfaz de usuario y la &nbsp;&nbsp;&nbsp;&nbsp;lógica de la
        aplicación en un solo archivo.

      </p>

      <li><b>Undireccional</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;React sigue el patrón de flujo de datos unidireccional,
        lo que significa que los datos fluyen en una sola &nbsp;&nbsp;&nbsp;&nbsp;dirección, desde el componente padre al componente hijo.Esto hace que la aplicación sea más
        fácil de entender y &nbsp;&nbsp;&nbsp;&nbsp;de depurar, ya que siempre sabes de dónde vienen los datos.

      </p>

      <li><b>Reactividad</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;Este framework cuenta con propiedades reactivas que permite actualizar cualquier variable
        sin necesidad de &nbsp;&nbsp;&nbsp;&nbsp;hacerlo manualmente.
      </p>

      <li><b>DOM Virtual</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;React utiliza un Virtual DOM para hacer que las actualizaciones de la interfaz de usuario sean más eficientes.
        En &nbsp;&nbsp;&nbsp;&nbsp;lugar de actualizar todo el árbol de la interfaz de usuario cada vez que hay un cambio, React solo
        actualiza los &nbsp;&nbsp;&nbsp;&nbsp;nodos que han cambiado, lo que resulta en una mejor experiencia de usuario y un mejor rendimiento.

      </p>

      <li><b>Comunidad</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;React tiene una gran comunidad de desarrolladores que están constantemente trabajando
        en nuevas &nbsp;&nbsp;&nbsp;&nbsp;herramientas y características para mejorar la librería. Esto significa que siempre hay una gran cantidad de &nbsp;&nbsp;&nbsp;&nbsp;recursos y documentación
        disponibles para los desarrolladores que trabajan con React.
      </p>

      <li><b>Componentes</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;React se basa en el concepto de componentes, lo que significa que puedes dividir tu aplicación en
        pequeñas &nbsp;&nbsp;&nbsp;&nbsp;piezas reutilizables y luego unirlas para construir una interfaz de usuario compleja. Los componentes
        son fáciles &nbsp;&nbsp;&nbsp;&nbsp;de entender y de mantener, lo que permite una mayor escalabilidad de la aplicación.
      </p>

      <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
        <img
          src="assets/images/carac.png"
          alt="vue" style="width: 70%; margin: 2% 0 2% 0; border-radius: 5%">
      </div>
    </ul>
    <div class="big-quote">
      Ventajas
    </div>
    <ul>
      <li><b>Eficiencia</b>: </li><p>React utiliza un Virtual DOM, lo que significa que las actualizaciones en la interfaz de usuario son más
        eficientes. Solo actualiza los nodos que han cambiado, lo que mejora significativamente el rendimiento de la aplicación.
      </p>

      <li><b>Reutilización de código</b>: </li><p>React se basa en el concepto de componentes, lo que permite una mayor reutilización de código.
        Los componentes son piezas de código autónomas que se pueden utilizar en múltiples lugares de la aplicación, lo que reduce la cantidad de código que necesitas escribir
        y mejora la eficiencia en el desarrollo.
      </p>

      <li><b>Comunidad</b>: </li><p>React tiene una gran comunidad de desarrolladores que están constantemente creando nuevas herramientas y recursos para mejorar la librería.
        Esto significa que hay una gran cantidad de recursos y documentación disponibles para los desarrolladores que trabajan con React.
      </p>

      <li><b>Escalabilidad</b>: </li> <p>React es altamente escalable, lo que significa que puedes construir aplicaciones grandes y complejas con facilidad.
      La división de la aplicación en componentes reutilizables hace que sea más fácil mantener la aplicación a medida que se vuelve más grande.
      </p>
      <li><b>Flexibilidad</b>: <p>React es muy flexible y se puede integrar con otras librerías y frameworks. Esto significa que puedes
        usar React en cualquier parte de tu aplicación, independientemente de la tecnología que estés utilizando en otras partes de la aplicación.
      </p>

      <li><b>Facilidad de aprendizaje</b>: <p>React es relativamente fácil de aprender, especialmente para los desarrolladores que ya tienen experiencia en JavaScript.
        La sintaxis de JSX hace que el código sea fácil de leer y entender, lo que acelera el proceso de aprendizaje.
      </p>

      <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
        <img
          src="assets/images/vendes.jpg"
          alt="vue" style="width: 70%; margin: 2% 0 2% 0; border-radius: 5%">
      </div>
    </ul>


    <div class="big-quote">
      Desventajas
    </div>
    <ul>
      <li><b>Curva de aprendizaje</b>: </li><p>React tiene una curva de aprendizaje más pronunciada que otras tecnologías web. Si bien es relativamente fácil crear
        componentes simples, el uso avanzado de React puede requerir un mayor conocimiento de JavaScript, programación orientada a objetos, patrones de diseño y otras tecnologías web.
      </p>

      <li><b>Tamaño del archivo</b>: </li><p>React es un marco de trabajo bastante grande y puede aumentar significativamente el
        tamaño de su archivo de código. Si bien se pueden tomar medidas para reducir el tamaño de los archivos, esto puede requerir un conocimiento más avanzado de la
        optimización del código.

      </p>

      <li><b>Dificultad para integrar con otras tecnologías</b>: </li><p>Si bien React es muy popular, no siempre se integra fácilmente con otras tecnologías. A veces puede ser difícil encontrar bibliotecas o herramientas que funcionen bien con React,
        y esto puede ser especialmente cierto para tecnologías más antiguas o menos conocidas.
      </p>

      <li><b>Requiere la creación de una estructura de proyecto</b>: </li> <p>React es una biblioteca, no un marco completo. Como resultado, la creación de una estructura de
        proyecto que funcione bien con React puede requerir un poco más de trabajo que con otros marcos web.
      </p>
      <li><b>Problemas de SEO</b>: <p>React no es la mejor opción si se requiere una alta optimización para motores de búsqueda (SEO). A menos que se tomen medidas específicas para abordar este problema,
        los motores de búsqueda pueden tener dificultades para indexar correctamente el contenido de las aplicaciones de React.
      </p>
    </ul>
  </div>
</div>

