<div id="header">
<div class="logo">
  <a>Hito Grupal 2º Trimestre: Desarrollo de Interfaces</a>
</div>
<nav>
  <ul>
    <li>
      <a routerLink='/login'>LogOut</a>
    </li>
    <li>
      <a routerLink='/home/bienvenida'>Home</a>
    </li>
    <li class="dropdown">
      <a>Contenido</a>
      <ul>
        <li><a routerLink="/home/angular">Angular</a></li>
        <li><a routerLink="/home/vue">Vue</a></li>
        <li><a routerLink="/home/react">React</a></li>
      </ul>
    </li>
    <li class="dropdown">
      <a href="https://github.com/JavierS08/">Repositorio Github</a>
    </li>
  </ul>
</nav>
</div>
