<div class="container"></div>

<div class="top-bar">
  <div class="top-bar-mid">
    <div class="title-text">VUE</div>
    <div class="arrow-2"></div>
    <div class="arrow"></div>
  </div>
</div>
<div class="content">
  <div class="article">
    <h1>Vue Framework - Javier Sánchez Carrizo</h1>
      <!--  CARACTERÍSTICAS E HISTORIA  -->
    <div class="big-quote">
      Historia
    </div>
    <p>
      Vue es un Framework de <b>JavaScript</b> desarrollado en 2014 por <b>Evan You</b>, un ex-trabajador de Google.
    </p>

    <p>
      Este framework nació de la idea de hacer que los programadores ahorren tiempo no escribiendo tanto código gracias a que incluye un conjunto
      de herramientas para poder desarrollar páginas web de forma más cómoda.
    </p>
    <div class="big-quote">
      Características
    </div>
    <ul>
      <li><b>Curva de aprendizaje</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;Es más sencilla con respecto a otros frameworks Front-End como React o Angular.</p>
    
      <li><b>Completamente Modular</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;A lo que me reifero es a que  este framework te ofrece lo básico y cualquier funcionalidad extra tendrás que implementarla.
      </p>

      <li><b>Reactividad</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;Este framework cuenta con propiedades reactivas que permite actualizar cualquier variable
        sin necesidad de &nbsp;&nbsp;&nbsp;&nbsp;hacerlo manualmente.
      </p>

      <li><b>DOM Virtual</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;En el caso de querer 
        cambiar un elemento de la vista, Vue creará una réplica del DOM para que cuando &nbsp;&nbsp;&nbsp;&nbsp;realicemos los cambios se hagan de manera más óptima.
      </p>

      <li><b>Mixins</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;Esta es la función y lógica de los componentes que se puede reutilizar en otros componentes web</p>

      <li><b>Componentes</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;Los componentes de Vue cuentan con un ciclo de vida que se puede controlar.</p>

      <li><b>Páginas SPA</b>: </li><p>&nbsp;&nbsp;&nbsp;&nbsp;En VUE se pueden desarrollar páginas SPA, estas son páginas ya cargadas cuando el usuario entra a la web,
        esto &nbsp;&nbsp;&nbsp;&nbsp;se consigue con Vue Router
      </p>
      <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
        <img
          src="https://lenguajejs.com/vuejs/introduccion/que-es-vue/vuejs.png"
          alt="vue" style="width: 70%; margin: 2% 0 2% 0; border-radius: 5%">
      </div>
    </ul>
    <div class="big-quote">
      Ventajas
    </div>
    <ul>
      <li>Es muy <b>liviano</b>, pesa unicamente 18 Kb.</li>
      <li><b>Arquitectura basada en componentes</b>: Esto nos permite dividir grandes boques de información en bloques más pequeños.</li>
      <li><b>Compatible con muchas herramientas</b>: Este framework es compatible con multiples herramientas con poca o ninguna configuración, además proporciona pruebas unitarias, bibliotecas de pruebas extremos a extremo, sistema de enrutamiento flexibles y fáciles de usar, renderizado del lado del servidor (SSR).
      </li>
      <li>Es <b>facil de utilizar</b> y además su <b>curva de aprendizaje es mucho mayor</b> a cualquier otro framework de front.</li>
    </ul>

    <div style="display: flex; justify-content: center; align-content: center; flex-direction: row;">
      <img
        src="https://lapublicidadeninternet.com/wp-content/uploads/2017/07/publicidad-internet-ventajas-desventajas-1-960x421.png"
        alt="vue" style="width: 70%; margin: 2% 0 2% 0; border-radius: 5%">
    </div>
    <div class="big-quote">
      Desventajas
    </div>
    <ul>
      <li><b>Complejidad de la reactividad</b>: El problema reside en que el sistema de reactividad solamente devuelve los trozos de datos activados 
        por lo que puede haber errores durante la lectura de los datos y es requerido que dichos datos sean aplanados.
      </li>
      <li><b>La barrera linguística</b>: Inicialmente Vue.js fue adoptado por los chinos es por ello que muchos foros y 
        canales de discusión estuviesen principalmente en chino, aunque hoy en día esto no sea así y haya un soporte para múltiples 
        idiomas hay todavía algunos idiomas con menos soporte que los demás.
      </li>
      <li>Riesgo de exceso de flexibilidad puede desembocar a la <b>generación de código espagueti</b> debido a que todos los miembros del equipo 
        tienen diferente opinión sobre cómo hacer las cosas.
      </li>
    </ul>
  </div>

</div>

